@page {
  margin: 1.5cm 0cm;
}

@media print {
}

* {
  box-sizing: border-box;
}

body {
  column-fill: auto;
  font-family: 'Lora', serif;
  /*font-family: 'Cinzel', serif;*/
  /*font-family: 'Merriweather', serif;*/
  /*font-family: 'Roboto Mono', monospace;*/
  /*font-family: 'Crimson Text', serif;*/
  /*font-family: 'Noto Serif JP', serif;*/
  color: rgb(16, 16, 16);
  width: 88%;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-family: 'Noto Serif JP', serif;
}
h2 {
  font-family: 'Noto Serif JP', serif;
}
h3 {
  font-family: 'Noto Serif JP', serif;
}
h4 {
  font-family: 'Noto Serif JP', serif;
}

.markdown-body img.title {
  text-align: center;
  column-span: all;
  padding-bottom: 4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border: 0px;
  background: transparent;
}

.markdown-body img {
}

.markdown-body p.abstract {
  column-span: all;
  text-align: justify;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
}

.markdown-body h1.abstract {
  font-family: 'Noto Serif JP', serif;
  column-span: all;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
  font-size: 95%;
}

body .markdown-body {
    border: 0px solid #ddd;
    word-wrap: break-word;
}

pre {
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.markdown-body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  font-size: 13px;
  line-height: 1.65;
  word-wrap: break-word;
  text-align: justify;
}

.markdown-body a {
  background-color: transparent;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline: 0;
}

.markdown-body strong {
  font-weight: 700;
}

.markdown-body pre {
  overflow: none;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 11px;
}

.markdown-body input {
  color: inherit;
  font: inherit;
  margin: 0;
}

.markdown-body html input[disabled] {
  cursor: default;
}

.markdown-body input {
  line-height: normal;
}

.markdown-body input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body table {
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown-body td,
.markdown-body th {
  padding: 0;
  margin: 0;
}

.markdown-body input {
  font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.markdown-body a {
  color: #4078c0;
  text-decoration: none;
}

.markdown-body a:hover,
.markdown-body a:active {
  text-decoration: underline;
}

.markdown-body hr {
  height: 0;
  margin: 0 0;
  margin-bottom: 1.75em;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 0px solid #ddd;
}

.markdown-body hr.title {
  page-break-after: always;
}

.markdown-body hr:before {
  display: table;
  content: "";
}

.markdown-body hr:after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body ul,
.markdown-body ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  page-break-before: avoid;
  page-break-after: avoid;
}

.toc ol ol,
.toc ul ol {
  list-style-type: lower-roman;
}

.toc ul ul ol,
.toc ul ol ol,
.toc ol ul ol,
.toc ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body code {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
}

.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Source Code Pro', monospace;
}

.markdown-body .select::-ms-expand {
  opacity: 0;
}

.markdown-body .octicon {
  font: normal normal normal 16px/1 octicons-anchor;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.markdown-body .octicon-link:before {
  content: '\f05c';
}

.markdown-body:before {
  display: table;
  content: "";
}

.markdown-body:after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body>*:first-child {
  margin-top: 0 !important;
}

.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body .anchor {
  display: inline-block;
  margin-left: -13px;
}

.markdown-body .anchor:focus {
  outline: none;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 1.4;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body h1 {
  margin: 0;
  padding-top: 0em;
  padding-bottom: 1.0em;
  font-size: 1.70em;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

.markdown-body h1.title {
  font-size: 3em;
  text-align: center;
  column-span: all;
  padding: 0;
  margin: 0;
  padding-top: 5em;
  font-weight: 300;
}

.markdown-body h1.normal {
  text-align: left;
  font-size: 1.5em;
  column-span: all;
}

.markdown-body h2.title {
  font-size: 2em;
  text-align: center;
  column-span: all;
  padding: 0;
  margin: 0;
  margin: 1em 0em;
  font-weight: 300;
}

.markdown-body h3.title {
  font-size: 1.5em;
  text-align: center;
  column-span: all;
  padding: 0;
  margin: 1em 0em;
}

.markdown-body h3.version {
  font-size: 1.25em;
  text-align: center;
  column-span: all;
  padding: 0;
  margin: 1em 0em;
}

.markdown-body h3.abstract {
  font-size: 1.25em;
  text-align: center;
  column-span: all;
  padding: 0;
  margin: 0;
  margin-top: 7em;
  text-transform: uppercase;
}

.markdown-body h1 .anchor {
  line-height: 1;
}

.markdown-body h2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.225;
  page-break-after: avoid;
}

.markdown-body h2 .anchor {
  line-height: 1;
}

.markdown-body h3 {
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.43;
  page-break-after: avoid;
}

.markdown-body h3 .anchor {
  line-height: 1.2;
}

.markdown-body h4 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.0em;
  font-weight: bold;
}

.markdown-body h4 .anchor {
  line-height: 1.2;
}

.markdown-body h5 {
  font-size: 1em;
}

.markdown-body h5 .anchor {
  line-height: 1.1;
}

.markdown-body h6 {
  font-size: 1em;
  color: #777;
}

.markdown-body h6 .anchor {
  line-height: 1.1;
}

.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown-body ul {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 0.75em;
  /*text-indent: 1em;*/
}

.markdown-body p.abstract {
  margin-top: 1em;
  column-span: all;
  width: 60%;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}

.markdown-body ol li {
  white-space: unset;
  page-break-inside: avoid;
}

.toc ol {
  list-style-type: upper-roman;
}

.toc li ol {
  list-style-type: decimal;
}

.toc li ol li ol {
  list-style-type: lower-alpha;
}

.markdown-body pre {
  margin-bottom: 0.75em;
}

.markdown-body li>p {
  margin-top: 16px;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body blockquote {
  margin: 1.25em 0em;
  padding: 0.25em 1em;
  color: #777;
  font-size: 110%;
  border-left: 4px solid #ddd;
  page-break-inside: avoid;
  line-height: 1.4;
}

.markdown-body blockquote>:first-child {
  margin-top: 0;
}

.markdown-body blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body table {
  display: block;
  width: 100%;
  overflow: none;
  word-break: normal;
  word-break: keep-all;
  margin-bottom: 1.25em;
}

.markdown-body table th {
  font-weight: bold;
}

.markdown-body table th,
.markdown-body table td {
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
}

.markdown-body table td.description {
  padding: 0.5em 2em 0.5em 0.5em;
  margin: 0;
}

.markdown-body table td.top {
  padding: 0.5em 2em 0.5em 0.1em;
  margin: 0;
}

.markdown-body table td i {
  font-family: "Source Code Pro", sans-serif;
  font-style: italic;
  font-weight: 500;
}

.markdown-body table td pre {
  border: 0;
  padding: 0.5em 2em 0.5em 2em;
  margin: 0;
  text-align: left;
  font-style: inherit;
  background-color: inherit;
}

.markdown-body table td pre.top {
  padding: 0.5em 2em 0.5em 0.5em;
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.markdown-body table tr:nth-child(2n) {
  /*background-color: #f8f8f8;*/
}

.markdown-body code {
  padding: 0;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin: 0;
  font-size: 0.9em;
  background-color: rgb(249, 248, 245);
  color: rgb(0,0,0);
  page-break-inside: avoid;
  white-space: nowrap;
}

.markdown-body h4 code {
  font-weight: normal;
}

.markdown-body pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
  page-break-inside: avoid;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 0.5em 0.75em;
  margin: 0.5em 0em;
  margin-bottom: 0.75em;
  overflow: none;
  font-size: 0.9em;
  background-color: rgb(249, 248, 245);
  color: rgb(16,16,16);
  border: 1px solid rgb(232, 232, 230);
  line-height: 1.4;
  page-break-inside: avoid;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body pre {
  word-wrap: normal;
}

.markdown-body pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  white-space: pre;
  background-color: transparent;
  border: 0;
}

.markdown-body pre code:before,
.markdown-body pre code:after {
  content: normal;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.markdown-body .pl-c {
  color: #969896;
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
  color: #0086b3;
}

.markdown-body .pl-e,
.markdown-body .pl-en {
  color: #795da3;
}

.markdown-body .pl-s .pl-s1,
.markdown-body .pl-smi {
  color: #333;
}

.markdown-body .pl-ent {
  color: #63a35c;
}

.markdown-body .pl-k {
  color: #a71d5d;
}

.markdown-body .pl-pds,
.markdown-body .pl-s,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sra,
.markdown-body .pl-sr .pl-sre {
  color: #183691;
}

.markdown-body .pl-v {
  color: #ed6a43;
}

.markdown-body .pl-id {
  color: #b52a1d;
}

.markdown-body .pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.markdown-body .pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

.markdown-body .pl-ml {
  color: #693a17;
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

.markdown-body .pl-mq {
  color: #008080;
}

.markdown-body .pl-mi {
  color: #333;
  font-style: italic;
}

.markdown-body .pl-mb {
  color: #333;
  font-weight: bold;
}

.markdown-body .pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}

.markdown-body .pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

.markdown-body .pl-mdr {
  color: #795da3;
  font-weight: bold;
}

.markdown-body .pl-mo {
  color: #1d3e81;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.markdown-body .plan-price-unit {
  color: #767676;
  font-weight: normal;
}

.markdown-body .task-list-item {
  list-style-type: none;
}

.markdown-body .task-list-item+.task-list-item {
  margin-top: 3px;
}

.markdown-body .task-list-item input {
  margin: 0 0.35em 0.25em -1.6em;
  vertical-align: middle;
}

.markdown-body .plan-choice {
  padding: 15px;
  padding-left: 40px;
  display: block;
  border: 1px solid #e0e0e0;
  position: relative;
  font-weight: normal;
  background-color: #fafafa;
}

.markdown-body .plan-choice.open {
  background-color: #fff;
}

.markdown-body .plan-choice.open .plan-choice-seat-breakdown {
  display: block;
}

.markdown-body .plan-choice-free {
  border-radius: 3px 3px 0 0;
}

.markdown-body .plan-choice-paid {
  border-radius: 0 0 3px 3px;
  border-top: 0;
  margin-bottom: 20px;
}

.markdown-body .plan-choice-radio {
  position: absolute;
  left: 15px;
  top: 18px;
}

.markdown-body .plan-choice-exp {
  color: #999;
  font-size: 12px;
  margin-top: 5px;
}

.markdown-body .plan-choice-seat-breakdown {
  margin-top: 10px;
  display: none;
}

.markdown-body :checked+.radio-label {
  z-index: 1;
  position: relative;
  border-color: #4078c0;
}

@media print {
  body .markdown-body {
    padding: 0;
    border: none;
  }
}
